
      
      
        <!-- ------------------ The Speaker Section ---------------------------- -->
        
        <section id="speaker">
          <div class="container-fluid my-5">
             <div class="row">
                <div class="col-md-12 text-center">
                   <h2 class="text-capitalize font-weight-bold">Event Speakers</h2>
                   <p class="w-75 mx-auto text-secondary">Here are the top most mind from the different areas of technology
                   </p>
                </div>
             </div>
             <section class="d-flex justify-content-center flex-column align-items-center my-5">
                <div class="row flex mt-2">
                 
                  <div class="col-lg-3 card-container">
                     <div class="card">
                        <div class="row flex">
                               <div class=" col-sm-12 image-section">
                                  <img src="./assets/img/people/Dror Gill.png" class="rounded img-thumbnail" alt="...">
                               </div>
                               <div class="col-sm-12 intro-section">
                                <h1 class="h5 text-center">JEFF PULVER</h1>
                                <h1 class="h6 text-center">Founder, pulver.com</h1>
                             </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-lg-3 card-container">
                     <div class="card">
                        <div class="row flex">
                               <div class=" col-sm-12 image-section">
                                  <img src="./assets/img/people/Dror Gill.png" class="rounded img-thumbnail" alt="...">
                               </div>
                               <div class="col-sm-12 intro-section">
                                <h1 class="h5 text-center">JEFF PULVER</h1>
                                <h1 class="h6 text-center">Founder, pulver.com</h1>
                             </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-lg-3 card-container">
                     <div class="card">
                        <div class="row flex">
                               <div class=" col-sm-12 image-section">
                                  <img src="./assets/img/people/Steve Greenberg.jpg" class="rounded img-thumbnail" alt="...">
                               </div>
                               <div class="col-sm-12 intro-section">
                                <h1 class="h5 text-center">JEFF PULVER</h1>
                                <h1 class="h6 text-center">Founder, pulver.com</h1>
                                <h1></h1>
                             </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-lg-3 card-container">
                     <div class="card">
                        <div class="row flex">
                               <div class=" col-sm-12 image-section">
                                  <img src="./assets/img/people/Steve Greenberg.jpg" class="rounded img-thumbnail" alt="...">
                               </div>
                               <div class="col-sm-12 intro-section">
                                <h1 class="h5 text-center">JEFF PULVER</h1>
                                <h1 class="h6 text-center">Founder, pulver.com</h1>
                                <h1></h1>
                             </div>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="row flex mt-5">
               <div class="col-lg-3 card-container">
                  <div class="card">
                     <div class="row flex">
                            <div class=" col-sm-12 image-section">
                               <img src="./assets/img/people/Steve Greenberg.jpg" class="rounded img-thumbnail" alt="...">
                            </div>
                            <div class="col-sm-12 intro-section">
                             <h1 class="h5 text-center">JEFF PULVER</h1>
                             <h1 class="h6 text-center">Founder, pulver.com</h1>
                             <h1></h1>
                          </div>
                     </div>
                   </div>
               </div>
               <div class="col-lg-3 card-container">
                 <div class="card">
                   <div class="row flex">
                          <div class=" col-sm-12 image-section">
                             <img src="./assets/img/people/Steve Greenberg.jpg" class="rounded img-thumbnail" alt="...">
                          </div>
                          <div class="col-sm-12 intro-section">
                           <h1 class="h5 text-center">JEFF PULVER</h1>
                           <h1 class="h6 text-center">Founder, pulver.com</h1>
                        </div>
                   </div>
                 </div>
               </div>
               <div class="col-lg-3 card-container">
                  <div class="card">
                     <div class="row flex">
                            <div class=" col-sm-12 image-section">
                               <img src="./assets/img/people/Suruchi Gupta.jpg" class="rounded img-thumbnail" alt="...">
                            </div>
                            <div class="col-sm-12 intro-section">
                             <h1 class="h5 text-center">JEFF PULVER</h1>
                             <h1 class="h6 text-center">Founder, pulver.com</h1>
                          </div>
                     </div>
                   </div>
               </div>
               <div class="col-lg-3 card-container">
                  <div class="card">
                     <div class="row flex">
                            <div class=" col-sm-12 image-section">
                               <img src="./assets/img/people/Dror Gill.png" class="rounded img-thumbnail" alt="...">
                            </div>
                            <div class="col-sm-12 intro-section">
                             <h1 class="h5 text-center">JEFF PULVER</h1>
                             <h1 class="h6 text-center">Founder, pulver.com</h1>
                          </div>
                     </div>
                   </div>
               </div>
           </div>
           <div class="row flex mt-5">
            <div class="col-lg-3 card-container">
               <div class="card">
                  <div class="row flex">
                         <div class=" col-sm-12 image-section">
                            <img src="./assets/img/people/Steve Greenberg.jpg" class="rounded img-thumbnail" alt="...">
                         </div>
                         <div class="col-sm-12 intro-section">
                          <h1 class="h5 text-center">JEFF PULVER</h1>
                          <h1 class="h6 text-center">Founder, pulver.com</h1>
                          <h1></h1>
                       </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 card-container">
              <div class="card">
                <div class="row flex">
                       <div class=" col-sm-12 image-section">
                          <img src="./assets/img/people/IMG-2404_JPG.jpg" class="rounded img-thumbnail" alt="...">
                       </div>
                       <div class="col-sm-12 intro-section">
                        <h1 class="h5 text-center">JEFF PULVER</h1>
                        <h1 class="h6 text-center">Founder, pulver.com</h1>
                     </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 card-container">
               <div class="card">
                  <div class="row flex">
                         <div class=" col-sm-12 image-section">
                            <img src="./assets/img/people/Steve Greenberg.jpg" class="rounded img-thumbnail" alt="...">
                         </div>
                         <div class="col-sm-12 intro-section">
                          <h1 class="h5 text-center">JEFF PULVER</h1>
                          <h1 class="h6 text-center">Founder, pulver.com</h1>
                       </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 card-container">
               <div class="card">
                  <div class="row flex">
                         <div class=" col-sm-12 image-section">
                            <img src="./assets/img/people/Dror Gill.png" class="rounded img-thumbnail" alt="...">
                         </div>
                         <div class="col-sm-12 intro-section">
                          <h1 class="h5 text-center">JEFF PULVER</h1>
                          <h1 class="h6 text-center">Founder, pulver.com</h1>
                       </div>
                  </div>
                </div>
            </div>
        </div>
              
         </section>
          </div>
       </section>

        <!-- ------------------ The Event Section ---------------------------- -->
         <section id="schedule">
            <div class="container my-5">
               <div class="row">
                  <div class="col-md-12 text-center">
                     <h2 class="text-capitalize font-weight-bold">event schedule</h2>
                     <p class="w-75 mx-auto text-secondary">Lorem ipsum dolor sit
                        amet, consectetur adipisicing elit. Ab adipisci aperiam beatae
                        blanditiis corporis cupiditate est harum mollitia natus
                        temporibus.
                     </p>
                  </div>
               </div>
               <section class="d-flex justify-content-center flex-column align-items-center my-5">
                  <div class="my-3">
                     <div class="d-inline-block font-weight-bold text-center" style="width: 150px">08:30 - 09:00</div>
                     <div class="d-inline-block mx-5 rounded-circle" style="width:15px;height: 15px;background-color: #9b5de5;margin-top:-6px "></div>
                     <div class="d-inline-block" style="font-weight: 500;width:180px">Registration Opens</div>
                  </div>
                  <div class="my-3">
                     <div class="d-inline-block font-weight-bold text-center" style="width: 150px">09:00 - 12:00</div>
                     <div class="d-inline-block mx-5 rounded-circle" style="width:15px;height: 15px;background-color: #9b5de5;margin-top:-6px "></div>
                     <div class="d-inline-block" style="font-weight: 500;width:180px">Morning Session</div>
                  </div>
                  <div class="my-3">
                     <div class="d-inline-block font-weight-bold text-center" style="width: 150px">12:00 - 01:00</div>
                     <div class="d-inline-block mx-5 rounded-circle" style="width:15px;height: 15px;background-color: #9b5de5;margin-top:-6px "></div>
                     <div class="d-inline-block" style="font-weight: 500;width:180px">Lunch</div>
                  </div>
                  <div class="my-3">
                     <div class="d-inline-block font-weight-bold text-center" style="width: 150px">01:00 - 04:00</div>
                     <div class="d-inline-block mx-5 rounded-circle" style="width:15px;height: 15px;background-color: #9b5de5;margin-top:-6px "></div>
                     <div class="d-inline-block" style="font-weight: 500;width:180px">Afternoon Session</div>
                  </div>
                  <div class="my-3">
                     <div class="d-inline-block font-weight-bold text-center" style="width: 150px">04:00</div>
                     <div class="d-inline-block mx-5 rounded-circle" style="width:15px;height: 15px;background-color: #9b5de5;margin-top:-6px "></div>
                     <div class="d-inline-block" style="font-weight: 500;width:180px">Concluding Remarks</div>
                  </div>
                  <div class="my-3">
                     <div class="d-inline-block font-weight-bold text-center" style="width: 150px">06:30</div>
                     <div class="d-inline-block mx-5 rounded-circle" style="width:15px;height: 15px;background-color: #9b5de5;margin-top:-6px "></div>
                     <div class="d-inline-block" style="font-weight: 500;width:180px">VIP Dinner</div>
                  </div>
               </section>
            </div>
         </section>
           <!-- ------------------ The Footer Section ---------------------------- -->
         <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark
            text-white">
            <div class="container text-center">
               <small>Copyright &copy; VON: EVOLUTION</small>
            </div>
         </footer>
      </main>
      <!-- ---------------- End of the page ---------------------------- -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js" integrity="sha512-BdHyGtczsUoFcEma+MfXc71KJLv/cd+sUsUaYYf2mXpfG/PtBjNXsPo78+rxWjscxUYN2Qr2+DbeGGiJx81ifg==" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"  crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <!-- Template Main JS File -->
      <script src="assets/js/main.js"></script>
   </body>
</html>