      <header>
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand typewriter" href="#">Von-evolution</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="https://www.pulver.com/about-3-1">ChatGPT Webinar</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="https://www.pulver.com/jeff-s-place">Jeff's Place</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="https://www.pulver.com/jeff">About Jeff</a>
                  </li>
                  <li class="nav-item">
                     <a href="https://vonevolution.eventbrite.com/" class="btn von-btn" role="button">Register</a>
                  </li>
               </ul>
            </div>
         </nav>
      </header>
      <main id="main">
      <!-- ------------------ The Banner Section ---------------------------- -->
      <section id="hero">
         <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
         <h1 class="h2 pb-0">Explore the Future of</h1>
         <h1><span class="">Communications!</span></h1><br>
         <h2 class="text-white mt-2 mb-4 h4">VON: Evolution, Where telecom, AI, 5G & 6G & Blockchain <br>Minds Gather<br></h2>
         <section class="countdown">
            <div class="container">
               <div id="countdown">
                  <ul class="pl-0">
                     <li><span id="days"></span>days</li>
                     <li><span id="hours"></span>Hours</li>
                     <li><span id="minutes"></span>Minutes</li>
                     <li><span id="seconds"></span>Seconds</li>
                  </ul>
               </div>
         </section>
         <p class="mb-4 mt-6">April 18 | City Winery | New York</p>
         <a href="https://vonevolution.eventbrite.com/" class="btn von-btn  mb-2" role="button">Register Now</a>
         <P><span class="underline">Limited </span>Tickets Available </p>
         </div>
      </section>
      <!-- ------------------Intro Section ---------------------------- -->
      <section id="about">
         <div class="container px-4">
            <div class="row gx-5">
               <div class="col-sm-12 col-md-8 col-lg-7">
                  <div class="">
                     <h1 class="h1">The VON: Evolution</h1>
                     <br>
                     <p>Welcome to the VON: Evolution - Exploring the Intersection of: Telecom, AI, 5G & 6G, and Blockchain.
                        We are gathering to explore the future, share knowledge and network.
      
                        At VON: Evolution, you'll experience meaningful information shared in the format of Fireside Chats,
                        networking opportunities, and will leave with a better understanding on the impact of Telecom, AI,
                        5G/6G, and Blockchain technologies on our future. Our event brings together a global audience attracts
                        top industry experts from across these fields to share their knowledge and experience with attendees.
                     </p>
                  </div>
               </div>
               <div class="d-none d-md-block col-md-1"></div>
               <div class="col-sm-12 col-md-3 col-lg-3" style="margin-top: 7%;">
                  <div class="">
                     <h3>When</h3>
                     <p>18th April 2023</p>
                     <br>
                     <h3>Where</h3>
                     <p>City Winery, New York</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
       <!-- ------------------ The Video Section ---------------------------- -->
       <div class="container pt-5">
         <div class="row py-3">
            <div class="col-md-6 text-center">
               <h2 class="mb-4 h2 font-weight-bold" style="text-align: left;"> Join VON: Evolution for focus on the latest advancements in telecom, artificial intelligence, 5G, and Blockchain.</h2>
               <p class="mb-5 text-muted" style="text-align: left;">The salon-like atmosphere of VON: Evolution is a must-attend for professionals in the VoIP, AI, 5G, or Blockchain fields, and will include fireside chats, conversations, and opportunities to look around the corner, and stay ahead of the curve, in the communication and technology industries.
               </p>
            </div>
            <div class="col-md-6 text-center">
             <div class="mb-5">
               <div class="embed-responsive embed-responsive-16by9">
                  <iframe loading="lazy" class="embed-responsive-item" src="https://www.youtube.com/embed/7yeqNe0zT6c?autoplay=1&mute=1&controls=1&loop=1&origin=https%3A%2F%2Fwww.pulver.com&playsinline=1&playlist=7yeqNe0zT6c&enablejsapi=1&widgetid=5" allowfullscreen></iframe>
               </div>
            </div>
            </div>
         </div>
      </div>
       <!-- ------------------ The ads Section ---------------------------- -->
       <section id="banner"> 
         <div class="row flex">
            <div class="card bg-gold">
               <div class="row">
                  <div class="col-md-12 text-center ads"> Limited Tickets Available<br>
                     <a href="https://vonevolution.eventbrite.com/" class="btn von-btn btn-lg  mb-2" role="button">Register Now</a>
               </div>
            </div>
         </div>
       </section>
       <!-- ------------------ The Speaker Section ---------------------------- -->
        
       <section id="speaker">
         <div class="container my-5">
            <div class="row">
               <div class="col-md-12 text-center">
                  <h2 class="text-capitalize font-weight-bold">Event Speakers</h2>
                  <p class="w-75 mx-auto text-secondary">Here are the top most mind from the different areas of technology
                  </p>
               </div>
            </div>
              <div class="row flex mt-2">
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/jeff pulver.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Jeff Pulver </h1>
                           <h1 class="h6 text-center">Founder<br> pulver.com </h1>
                        </div>
                     </div>
                  </div>
               </div>
               
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/Chris Fine.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Chris Fine </h1>
                           <h1 class="h6 text-center">Technologist<br>  </h1>
                        </div>
                     </div>
                  </div>
               </div>
               
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/Mike Jablon.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Mike Jablon </h1>
                           <h1 class="h6 text-center">COO<br> Agoric </h1>
                        </div>
                     </div>
                  </div>
               </div>
               
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/Stefan Englebert.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Stefan Englebert </h1>
                           <h1 class="h6 text-center">Director<br> Aloaha Limited </h1>
                        </div>
                     </div>
                  </div>
               </div>
               
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/Izzo Wane.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Izzo Wane </h1>
                           <h1 class="h6 text-center">CEO<br> Bloxtel </h1>
                        </div>
                     </div>
                  </div>
               </div>
               
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/Suruchi Gupta.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Suruchi Gupta </h1>
                           <h1 class="h6 text-center">CEO <br>GIANT Protocol </h1>
                        </div>
                     </div>
                  </div>
               </div>
               
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/Miko Matsumura.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Miko Matsumura </h1>
                           <h1 class="h6 text-center">General Partner <br>gCC </h1>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/James Tagg.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">James Tagg </h1>
                           <h1 class="h6 text-center">Founder<br>World Group  </h1>
                        </div>
                     </div>
                  </div>
               </div>
               
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/Noah Rafalko.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Noah Rafalko </h1>
                           <h1 class="h6 text-center">CEO<br>TSG Global  </h1>
                        </div>
                     </div>
                  </div>
               </div>
               
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/Av Utukuri.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Av Utukuri </h1>
                           <h1 class="h6 text-center">CEO<br>Vizetto  </h1>
                        </div>
                     </div>
                  </div>
               </div>
               
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/Kathryn Colleen.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Kathryn Colleen </h1>
                           <h1 class="h6 text-center">Founder<br> Geode Blockchain  </h1>
                        </div>
                     </div>
                  </div>
               </div>
               
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/Dennis Crowley.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Dennis Crowley </h1>
                           <h1 class="h6 text-center">Co-founder <br>LivingCities, Street FC, Foursquare  </h1>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/Sam Glassenberg.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Sam Glassenberg </h1>
                           <h1 class="h6 text-center">CEO <br>Level Ex  </h1>
                        </div>
                     </div>
                  </div>
               </div>
               
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/Rachel Wolfson smaller.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Rachel Wolfson </h1>
                           <h1 class="h6 text-center">Journalist Author & Podcast Host </h1>
                        </div>
                     </div>
                  </div>
               </div>
               
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/Sid Rao copy.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Sid Rao </h1>
                           <h1 class="h6 text-center">GM <br>Amazon Chime SDK at AWS </h1>
                        </div>
                     </div>
                  </div>
               </div>
               
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/om Mailk.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Om Malik </h1>
                           <h1 class="h6 text-center">Partner Emeritus <br>True Ventures  </h1>
                        </div>
                     </div>
                  </div>
               </div>
               
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/Dean Bubley copy.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Dean Bubley </h1>
                           <h1 class="h6 text-center">Director<br> Disruptive Analysis Ltd. </h1>
                        </div>
                     </div>
                  </div>
               </div>
               
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/Deborah Simpier copy.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Deborah Simpier </h1>
                           <h1 class="h6 text-center">CEO & Co-Founder<br> Althea  </h1>
                        </div>
                     </div>
                  </div>
               </div>
               
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/Hafeez Bana.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Hafeez Bana </h1>
                           <h1 class="h6 text-center">Founder<br>LeDunia  </h1>
                        </div>
                     </div>
                  </div>
               </div>
               
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/Mark LaPenna.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Mark LaPenna </h1>
                           <h1 class="h6 text-center">CEO<br>Xenesis </h1>
                        </div>
                     </div>
                  </div>
               </div>
               
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/Henry Baiz.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Henry Baiz </h1>
                           <h1 class="h6 text-center">CEO & Co-Founder <br>Gane Mobile</h1>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/Akshay Sharma.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Akshay Sharma </h1>
                           <h1 class="h6 text-center">CTO <br>Kovair Software  </h1>
                        </div>
                     </div>
                  </div>
               </div>
          
               
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/Glenn Richards.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Glenn Richards </h1>
                           <h1 class="h6 text-center">Founder <br>S-Curve Records  </h1>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/Andy Abramson.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Andy Abramson </h1>
                           <h1 class="h6 text-center">CEO <br>Comunicano </h1>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/Benedict Hadley.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Benedict Hadley </h1>
                           <h1 class="h6 text-center">Founder<br> The Hadley Broadcasting Company  </h1>
                        </div>
                     </div>
                  </div>
               </div>
                       
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/Steve Greenberg.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Steve Greenberg </h1>
                           <h1 class="h6 text-center">Founder <br>The Hadley Broadcasting Company </h1>
                        </div>
                     </div>
                  </div>
               </div>
               
               
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/Daniel Budofsky.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Daniel Budofsky </h1>
                           <h1 class="h6 text-center">Partner <br>Pillsbury Winthrop Shaw Pittman LLP  </h1>
                        </div>
                     </div>
                  </div>
               </div>
               
               
               <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="card">
                     <img src="./assets//img//people/website/Lisa Abeyta.webp" class="card-img-top" alt="...">
                     <div class="card-body p-0">
                        <div class="col-sm-12 intro-section p-0">
                           <h1 class="h5 text-center">Lisa Abeyta </h1>
                           <h1 class="h6 text-center">Deputy Director of Economic Development  <br>City of Albuquerque, NM  </h1>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>