/*--------------------------------------------------------------
  # Over all
  --------------------------------------------------------------*/
  body {
    font-family: 'Ubuntu', sans-serif;
  }
  
  .row {
    padding: 0px;
    margin: 0px;
  }
  
  .font-weight-bold {
    font-weight: 900;
  }
  
  .ads {
    margin-top: 1rem;
  }
  .underline {
    text-decoration: underline;
    text-decoration-color: #6a0dad;
    text-decoration-thickness: 6px;
  }
  
  .focus {
    color: #feffff;
    background-color: #6a0dad;
    padding: 4px;
    margin: 10px;
    border-style: solid;
    border-radius: 6px;
  }
  
  .typewriter {
    width: 21.5ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid #212121;
    animation: cursor 1s step-start infinite, text 5s steps(18) alternate infinite;
  }
  
  @keyframes cursor {
  
    0%,
    100% {
      border-color: #212121;
    }
  }
  
  @keyframes text {
    0% {
      width: 0;
    }
  
    100% {
      width: 13.5ch;
    }
  }
  
  .von-btn {
    background-color: #6a0dad;
    color: white;
  }
  
  .von-btn:hover {
    background-color: #6a0dad;
    color: white;
  }
  
  /*--------------------------------------------------------------
    #Navigation
  --------------------------------------------------------------*/
  .nav-item {
    margin-right: 2rem;
  }
  
  .bg-dark {
    background-color: #0e1214 !important;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255 / 95%);
  }
  
  /*--------------------------------------------------------------
    # Banner Section
    --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 90vh;
    background: url(../img/background/city_winery.webp) top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  #hero:before {
    content: "";
    background: rgba(6, 12, 34, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 30px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }
  
  /* @media (max-width: 991px) {
      #hero .hero-container {
        top: 70px;
      }
    } */
  
  #hero h1 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  #hero h1 span {
    color: #feffff;
    background-color: #6a0dad;
    padding: 4px;
    margin: 10px;
    border-style: solid;
    border-radius: 6px;
  }
  
  @media screen and (min-device-width: 200px) and (max-device-width: 425px) {
    #hero h1 {
      font-size: 1.6rem;
    }
  
    #hero h2 {
      font-size: 20px;
    }
  
    .btn-lg {
      padding: 0.2rem 1rem;
      font-size: 1.15rem;
      line-height: 1.5;
      border-radius: 0.3rem;
    }
  }
  
  @media screen and (min-device-width: 425px) and (max-device-width: 700px) {
    #hero h1 {
      font-size: 2rem;
    }
  
    #hero h2 {
      font-size: 20px;
    }
  }
  
  #hero p {
    color: #ebebeb;
    font-weight: 700;
    font-size: 20px;
  }
  
  @media (max-width: 991px) {
    #hero p {
      font-size: 16px;
    }
  }
  
  
  .countdown {
    background-color: #6308a570;
    color: white;
    font-size: 8px;
  }
  
  .countdown .container {
    color: #333;
    margin: 0 auto;
    text-align: center;
    padding-top: 16px;
  }
  
  .countdown li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    color: white;
    border-right: 1px dotted #7b7f82
  }
  
  
  .countdown li:last-child {
    border-right: none;
  }
  
  .countdown li span {
    display: block;
    font-size: 2.5rem;
    color: white;
  }
  
  @media (max-width: 991px) {
    .countdown li span {
      font-size: 1.5rem;
    }
  
    .countdown li {
      padding: 10px;
    }
  }
  
  /*--------------------------------------------------------------
  # About Section
  --------------------------------------------------------------*/
  #about {
    background-color: #6a0dad;
    background-size: cover;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding: 60px 0 40px 0;
    font-size: 12px;
  }
  
  @media (min-width: 1024px) {
    #about {
      background-attachment: fixed;
    }
  }
  
  #about:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #about h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
  }
  
  #about h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #fff;
  }
  
  #about p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #fff;
    /* text-align: justify; */
  }
  
  #banner .card {
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
    font-size: 3em;
    font-weight: 800;
    height: 4em;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    letter-spacing: -2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  #banner .card i {
    font-size: 3em;
  }
  
  #banner .bg-gold {
    background: -webkit-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    background: -o-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    background: -moz-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  }
  
  .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 2.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
  }
  
  #sticky-footer {
    background-color: #6a0dad !important;
  }
  
  #schedule {
    width: 100%;
    padding-top: 5%;
    /* height: 90vh; */
    background: url(../img/background/pngtree-pu.webp) top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
  }
  
  
  #speaker .card {
    width: 13rem;
    margin: auto;
    margin-top: 2rem;
    border-style: solid;
    border-radius: 7px 7px 2px 0px;
    border-width: 0px;
  }
  
  #speaker .card img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    /* object-fit: cover; */
    filter: grayscale(100%);
    border-style: solid;
    border-radius: 7px 7px 2px 0px;
    border-width: 0px;
  }
  
  #speaker .card-body {
    background-color: ghostwhite;
    font-size: 11px;
  }
  
  #speaker .h6,
  h6 {
    font-size: 12px;
  }
  
  .intro-section h1 {
    font-family: system-ui;
    letter-spacing: 1px;
  }
  
  .intro-section h1:first-child {
  
    background-color: #6a0dad;
    padding: 7px;
    color: white;
    border-style: double;
  }
  
  /* Small devices (tablets, 768px and up) */
  @media screen and (min-device-width: 200px) and (max-device-width: 425px) {
    .h1 {
      font-size: 2rem;
    }
  
    #about p,
    p {
      font-size: 0.8rem;
    }
  
    .h2 {
      font-size: 1.2rem;
    }
  
    .ads {
      font-size: 0.6em;
      padding-top: 2rem;
    }
  
    .dot {
      /* display: none !important; */
      margin: 0px !important;
    }
  
    .time {
      width: 102px !important;
      text-align: left !important;
      font-size: 13px;
    }
  
    .name {
      width: 148px !important;
      margin-left: 10px;
      font-size: 13px;
    }
  
    .btn-lg {
      padding: 0px 7px;
    font-size: 1.5rem !important;
    letter-spacing: 0px;
    margin-top: 13px;
    }
    .ads{
      font-size: 1.5rem;
    }
    #speaker .card img {
      width: 100%;
      height: auto;
      /* object-fit: fill; */
      filter: grayscale(100%);
    }
    #schedule h2{
      margin-top: 24px;
    }
  
  }
  
  @media screen and (min-device-width: 426px) and (max-device-width: 999px) {
  
    #speaker .card img {
      height: auto;
    }
    .btn-lg {
      padding: 0.5rem 1rem;
      font-size: 1.25rem;
      line-height: 1.5;
      border-radius: 0.3rem;
      letter-spacing: 1px;
      margin-top: 2rem;

  }
    .ads{
      font-size: 2rem;
    }
  }

  #schedule .event-card{
    background-color: #fff;
    border-radius: 5px;
    padding-top: 1.5rem;
  }

  #schedule .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #6f21a0;
    border-color: #7323a4;
  }

  #schedule .list-group-item {
    position: relative;
    display: block;
    padding: 0.5rem 1.05rem;
    font-weight: 900;
    margin-bottom: -1px;
    text-align: center;
    font-size: .8125rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
#schedule .card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  width: -webkit-fill-available;
}

#schedule .card{
  border: 0px solid rgba(0,0,0,.125)
}

.primary{
  color:#707af2;
}
.text-muted {
  color: #000!important;
  font-weight: 700;
}
.text-secondary {
  color: #000!important;
  font-weight: 600;
}

@media screen and (min-device-width: 990px) and (max-device-width: 1040px) {
  #speaker .card {
    padding: 5%;
  }
  
}

@media screen and (min-device-width: 768px){
  #schedule .event-card{
    background-color: transparent;
  }
}